/****** COLORS *****/

$darkPurple: #7C5DFA;
$lightPurple: #9277FF;

$dark1: #1E2139;
$dark2: hsl(233, 30%, 11%);
$dark3: #0C0E16;

$light1: hsl(231, 75%, 93%);
$light2: hsl(240, 27%, 98%);

$medium1: #7E88C3;
$medium2: hsl(231, 20%, 61%);
$medium3: #252945;

$darkRed: #EC5757;
$lightRed: hsl(0, 100%, 80%);



/****** FONT *****/

$font: 'Spartan', sans-serif;

/****** MIXINS *****/
