@import 'styles/reset.scss';
@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/buttons.scss';
@import 'styles/form_elements.scss';


.App {
  font-family: $font;

  position: relative;


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 100vw;
  // height: 100vh;

  // min-height: 100vh;

  overflow: hidden;

  // overflow: auto;

}

.light {
    background: $light2;
}

.dark{
    background: $dark3;
}

.light::-webkit-scrollbar-thumb {
  background: $light1;
  border-radius: 100vw;
  
}

.dark::-webkit-scrollbar-thumb{
  background: $medium3;
  border-radius: 100vw;
}


@media only screen and (max-width: 900px) {
  .App{
    flex-direction: column;
    justify-content: flex-start;


    // overflow: hidden;


  }
 }

 
@media only screen and (max-width: 340px) {
  .App{
    overflow: auto;

  }
 }